<div id="dlgClosed" style="display: none; cursor: default">
    <h4>האם תרצה לסגור משלוח</h4>
    מחיר סגירה:<input type="text" value="" placeholder="מחיר סגירה" id="txtClosePrice" /><br />
    מחיר הנחה:<input type="text" value="" placeholder="מחיר הנחה" id="txtCloseDiscountPrice" /><br />
    מחיר בפועל:<input type="text" value="" placeholder="מחיר בפועל" id="txtCloseActualPrice" /><br />

    <input type="button" id="btnYesClose" value="כן" />
    <input type="button" id="btnNoCloseYet" value="לא" />
</div>