
 @if (ViewBag.userProfiler.IsAdmin)
                {
                    <div class="btn-group pull-left">
                          <a class="btn btn-lg btn-default" href="#"><i class="fa fa-pencil  fa-fw fa-2x"></i>...</a>
                       <a class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="fa fa-caret-down fa-2x"></span></a>
                    <ul class="dropdown-menu">
                        <li><i class="fa fa-reply fa-fw"></i> עבור לשלב קודם </li>
                        <li class="divider"></li>
                        <li><i class="fa fa-pencil fa-fw"></i> ערוך </li>
                         <li class="divider"></li>
                        <li><i class="fa fa-times  fa-fw"></i> סגור הזמנה </li>
                    </div>
                }