@model OrderDetail
<div class="row">
    <div class="  col-md-12 well well-lg ">
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnEditPrice" data-toggle="tooltip" title="שמור" data-placement="top"
                class="btn btn-success btn-circle btn-xl">
                <img src="~/Content/img/ok32x32.png" />
            </button>
        </div>
            <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnRefresh" data-bind="click: refreshWatch"   data-toggle="tooltip"  title="רענון זמן המתנה" data-placement="top"  class="btn btn-primary btn-circle btn-xl">
                <img src="~/Content/img/refresh32x32tw.png" />
            </button>
        </div>
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnCancel" data-toggle="tooltip"  title="ביטול" data-placement="top" data-url="@Url.Action("Index", "F")"  class="btn btn-danger btn-circle btn-xl">
                <img src="~/Content/img/delete32x32.png" />
            </button>
        </div>
        <div class="btn-group" style="margin-left: 4px">
            <button type="button" id="btnBack"   data-toggle="tooltip"  title="חזרה" data-placement="top"  data-url="@Url.Action("Index", "F")" 
            class="btn btn-primary btn-circle btn-xl">
                <img src="~/Content/img/back32x32.png" />
            </button>
        </div>
    </div>
</div>