<input type="hidden" value="@ViewBag.CurrentPage" id="currentPage" name="currentPage" />

<div class="row">
    <ul class="pager">
        <li><a href="#">הקודם</a></li>
        <li><a href="#">הבא</a></li>

    </ul>
</div>
<div class="row">

    <div class="text-center">
        <p>סהכ רשומות</p>
        <span class="badge">@ViewBag.Total</span>

    </div>
</div>
