@model Michal.Project.Contract.IViewDays


<input type="hidden" value="@Model.FromDay" id="prevDay" name="prevDay" />
<input type="hidden" value="@Model.ToDay" id="nextDay" name="nextDay" />
<div class="row">
<div class="col-md-12">
    <ul class="pager">
        <li class="previous"><a href="#"  onclick="javascript:changeDay(false,'@Model.ClientViewType')">יום קודם</a></li>
        @if (Model.IsToday == false)
        {
            <li class="next"><a href="#"  onclick="javascript:changeDay(true,'@Model.ClientViewType')">יום הבא</a></li>
        }
    </ul>
</div>
    </div>