<p class="text-center">
    <img style="padding:0px" src="http://chart.googleapis.com/chart?cht=qr&chs=130x130&chld=L|1&chl=@HttpContext.Current.Server.UrlEncode(HttpContext.Current.Request.Url.AbsoluteUri)" />
</p>
