 <div id="questionIsArrivedGet" style="display: none; cursor: default; padding: 6px;min-width:200px">

        <h3><i class="fa fa-question-circle fa-2x"></i>הגעת ?</h3>
        <br />
        <a id="btnCheckinGet" class="btn  btn-success" href="#"><i class="fa fa-check-square-o"></i>כן </a>
        <a id="btnCheckoutGet" class="btn  btn-danger" href="#"><i class="fa fa-meh-o"></i>לא </a>

    </div>