 <div id="questionIsArrived" style="display: none; cursor: default; padding: 6px">

        <h3><i class="fa fa-question-circle fa-2x"></i>הגעת ליעד</h3>
        <br />
        <a id="btnCheckin" class="btn  btn-success" href="#"><i class="fa  fa-check-square-o"></i>כן </a>
        <a id="btnCheckout" class="btn  btn-danger" href="#"><i class="fa  fa-meh-o"></i>לא </a>

    </div>