@model StatusVm
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><b>הגעה ליעד</b></h3>
            </div>
            <div class="panel-body">
                <div class="btn-group">
                    <div class="switch">
                        <input id="chkCheckin" class="cmn-toggle cmn-toggle-yes-no" type="checkbox">
                        <label for="chkCheckin" data-on="הגעתי ליעד" data-off="לא הגעתי"><i class="fa fa-map-marker fa-fw fa-2x"></i></label>
                    </div>
                </div>
                @Html.Partial("_editOrder")
            </div>
        </div>
    </div>
</div>
