@model Michal.Project.Models.OrderDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*
        http://bootsnipp.com/snippets/featured/bootstrap-loan-calculator
        */

    .price-box {
        margin: 0 auto;
        background: #E9E9E9;
        border-radius: 10px;
        padding: 20px 1px;
        /*width: 500px;*/
    }

    .price, .lead p {
        font-weight: 600;
        font-size: 32px;
        display: inline-block;
        line-height: 60px;
        border: 0;
        width: 245px;
    }

    h4.great {
        background: #00ac98;
        margin: 0 0 25px -60px;
        padding: 7px 15px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        display: inline-block;
        -moz-box-shadow: 2px 4px 5px 0 #ccc;
        -webkit-box-shadow: 2px 4px 5px 0 #ccc;
        box-shadow: 2px 4px 5px 0 #ccc;
    }

        h4.great span {
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            display: inline-block;
        }

    .total {
        border-bottom: 1px solid #7f8c8d;
        /*display: inline;
  padding: 10px 5px;*/
        position: relative;
        padding-bottom: 20px;
    }

        .total:before {
            content: "";
            display: inline;
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 100%;
            height: 3px;
            background: #7f8c8d;
            opacity: 0.5;
        }

    .price-slider {
        margin-bottom: 70px;
    }

        .price-slider span {
            font-weight: 200;
            display: inline-block;
            color: #7f8c8d;
            font-size: 13px;
        }

    .form-pricing {
        background: #ffffff;
        padding: 20px;
        border-radius: 4px;
    }

    .price-form {
        background: #ffffff;
        margin-bottom: 10px;
        padding: 20px;
        border: 1px solid #eeeeee;
        min-height: 520px;
        border-radius: 4px;
        /*-moz-box-shadow:    0 5px 5px 0 #ccc;
    -webkit-box-shadow: 0 5px 5px 0 #ccc;
    box-shadow:         0 5px 5px 0 #ccc;*/
    }

    .form-group {
        margin-bottom: 0;
    }

        .form-group span.price {
            font-weight: 200;
            display: inline-block;
            color: #7f8c8d;
            font-size: 14px;
        }

    .help-text {
        display: block;
        margin-top: -10px;
        margin-bottom: 10px;
        color: #737373;
        /*position: absolute;*/
        /*margin-left: 20px;*/
        font-weight: 200;
        /*text-align: right;*/
        width: 188px;
    }

    .price-form label {
        font-weight: 200;
        font-size: 21px;
    }

    img.payment {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ui-slider-range-min {
        background: #2980b9;
    }

    .active-month,
    .active-term {
        background: #3276b1;
    }

    /* HR */

    hr.style {
        margin-top: 0;
        border: 0;
        border-bottom: 1px dashed #ccc;
        background: #999;
    }

    /*my*/
    .priceb {
        color: white;
        font-size: 18px;
        font-weight: 600;
        background-color: yellowgreen;
    }

    .addpresent::after {
        content: "%";
    }

    .addsimbol::after {
        content: "₪";
    }
</style>
<div class="price-box">
    <div class="row">
        <div class="col-sm-6">
            <div class="price-form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="amount_amirol" class="control-label">
                                <img src="~/Content/img/additem32green.png" />
                                מחיר לפני הנחה (₪):
                            </label>
                            <span class="help-text">המחיר לפני הנחה לא כולל זמני המתנה</span>
                        </div>
                        <div class="col-sm-6">
                            <input type="hidden" id="amount_amirol" class="form-control">
                            <!-- <p class="price lead" id="total"></p> -->
                            <input class="price lead" name="totalprice" type="text" id="total" disabled="disabled" value="112" style="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="amount_amirol" class="control-label">
                                <img src="~/Content/img/discount32green.png" />
                                הנחה (₪):
                            </label>
                            <span class="help-text">הנחה כולל עבור הפריטים</span>
                        </div>
                        <div class="col-sm-6">
                            <input type="hidden" id="amount_amirol" class="form-control">
                            <!-- <p class="price lead" id="total12"></p> -->
                            <input class="price lead" name="totalprice12" type="text" id="total12" value="22" disabled="disabled" style="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="amount_amirol" class="control-label">
                                <img src="~/Content/img/sum32green.png" />
                                סה"ג (₪):
                            </label>
                            <span class="help-text">סה"כ המחיר</span>
                        </div>
                        <div class="col-sm-6">
                            <input type="hidden" id="amount_amirol" class="form-control">
                            <input class="price lead" name="totalprice52" type="text" id="total52" value="33" disabled="disabled" style="">
                        </div>
                    </div>
                </div>
                <div style="margin-top: 30px"></div>
                <hr class="style">

                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                            <img src="~/Content/img/sales32.png" />הוסף הנחה</button>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-sm-6">

            <form class="form-horizontal form-pricing" role="form">
                <h4>הצג פריטים</h4>
                <div style="margin-top: 10px"></div>
                <hr class="style">
                <div class="price-slider" data-bind="foreach: Items">
                    <h4 style="width: 100%" class="great">
                        <!-- ko if: IsDiscount ==false -->
                        <img src="~/Content/img/additem32.png" />
                        <!-- /ko -->
                        <!-- ko if: IsDiscount ==true -->
                        <img src="~/Content/img/sales32.png" />
                        <!-- /ko -->
                        <span data-bind="text: Name"></span>
                        <!-- ko if: HasPrice==false -->
                        <span style="color: white; font-size: 18px; font-weight: 600; background-color: red" class="badge pull-left" >אן מחיר</span>
                        <!-- /ko -->
                        <!-- ko if: HasPrice==true -->
                        <span style="color: white; font-size: 18px; font-weight: 600; background-color: yellowgreen" class="badge pull-left addsimbol" data-bind="text: PriceValue, css: { 'addpresent': IsPresent == true, 'addsimbol': IsPresent == false }"></span>
                        <!-- /ko -->
                    </h4>
                    <div class="help-text"><span style="top: 0px" data-bind="text: Desc"></span></div>

                    <div><span class="btn-group"><a class="xcrud-action btn btn-info btn-sm" title="View" href="javascript:;" data-primary="6" data-task="view"><i class="glyphicon glyphicon-trash"></i></a><a class="xcrud-action btn btn-warning btn-sm" title="Edit" href="javascript:;" data-primary="6" data-task="edit"><i class="glyphicon glyphicon-edit "></i></a><a class="xcrud-action btn btn-danger btn-sm" title="Remove" href="javascript:;" data-primary="6" data-task="remove" data-confirm="Do you really want remove this entry?"><i class="glyphicon glyphicon-remove"></i></a></span></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="margin-top: 30px"></div>
<div class="row">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. כתובת</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                            <ul class="list-group">

                                <li class="list-group-item">
                                    <span class="label label-success">@Html.Partial("_addressView", Model.SourceAddress)</span>
                                    <span class="prefix  pull-right">כתובת השולח:</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label label-danger">@Html.Partial("_addressView", Model.TargetAddress) </span>
                                    <span class="prefix  pull-right">כתובת היעד:</span>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. חישוב מחיר</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <table class=" table table-striped table-hover">

                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Author</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: Items">
                                    <tr>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: PriceValue"></td>
                                        <td><a href="#" data-bind="click: $parent.cancelOffer">Cancel</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/api/OfferService/GetOffer?shipid=" + Model.Id + "&offerId=" + Guid.NewGuid())
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script>
        var vm = new AppViewModel(offerClient);
        function AppViewModel(vmData) {
            var self = this;
            self.Items = ko.observableArray(vmData.Items);

            self.cancelOffer = function (f) {
                alert(f.Id);
            };
        };

        ko.applyBindings(vm);

    </script>
}
