@{
    Layout = "~/Views/Shared/Homepage.cshtml";
}


<section id="Page">
    <div class="col-xs-12 well">
        <h2 style="font: 8pt/11pt verdana; color: black" id="ietext">
            <img width="16" height="16" align="top" src="~/Images/Search.gif">
            HTTP @Response.StatusCode - @Response.StatusDescription
            <br>
        </h2>

    </div>
</section>
