@{
    ViewBag.Title = "מערכת שליחיות";
}

<div class="jumbotron" style="background-image: url(/Content/img/vespa-ran-bg.png); background-repeat: no-repeat; ba">
    <h1>רן שליחיות </h1>
    <p class="lead">מערכת שליחיות .</p>
    <p><a href="#" class="btn btn-primary btn-large">צור הזמן &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>בואו נתחיל</h2>
        <p>
          יצירת הזמנה חדשה ... הסבר
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">צור הזמנה &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>כניסה לארגונים</h2>
        <p>
          הסבר כניסה לארגונים
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">כניסה לארגונים &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>כניסה למשתמש קיים</h2>
        <p>כניסה למשתמש קיים גם אולי FC .</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">כניסה &raquo;</a></p>
    </div>
</div>