@{
    ViewBag.Title = "פרטי המערכת";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h3><b class="centered">@ViewBag.Title</b> </h3>
    </div>

</div>
<div class="row">
    <div class="col-md-12 well">
    <p class="center"> גרסא : @ViewBag.Version </p>
    </div>

</div>