
/* @import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"); */
header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 88%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.content-wrapper {
    background-color: white;
    top: 87%;
    min-height: 12%;
    position: absolute;
    z-index: 2;
    width: 100%;
}
/* HERE ENDS THE MAGIC */
header .container {
    padding-top: 150px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

section {
    padding: 100px 0;
    width: 100%;
}

    section h2 {
        margin: 0;
        font-size: 3em;
    }

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

    hr.star-light:after,
    hr.star-primary:after {
        content: "\f005";
        display: inline-block;
        position: relative;
        top: -.8em;
        padding: 0 .25em;
        font-family: FontAwesome;
        font-size: 2em;
    }

hr.star-light {
    border-color: #fff;
}

    hr.star-light:after {
        color: #fff;
        background-color: #18bc9c;
    }

hr.star-primary {
    border-color: #2c3e50;
}

    hr.star-primary:after {
        color: #2c3e50;
        background-color: #fff;
    }

section.primary h2 {
    color: #2c3e50;
}

section.success {
    background-color: #18bc9c;
    color: #fff;
}


.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
/*http://bootsnipp.com/snippets/featured/buttons-minus-and-plus-in-input*/
.center {
    width: 150px;
    margin: 40px auto;
}
/* http://bootsnipp.com/snippets/featured/single-column-timeline-collapsed */

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}
/*http://codepen.io/jcasabona/pen/CDvAt*/
.circle {
    border-radius: 50%;
    margin: 0.15em;
    font-size: 3em;
}
.fa-whatsapp {
 background: #18bc9c;
    color: #FFFFFF;
    padding: 0.25em 0.25em;
}

.fa-eye-slash {
    color: #FFFFFF;
    background: #18bc9c;
    padding: 0.25em 0.25em;
}

.fa-eye {
    color: #FFFFFF;
     background: #18bc9c;
     padding: 0.25em 0.25em;
}

.fa-print{
    color: #FFFFFF;
     background: #18bc9c;
     padding: 0.25em 0.25em;
}
.fa-file-image-o {
    color: #FFFFFF;
     background: #18bc9c;
     padding: 0.25em 0.25em;
}



/*http://bootsnipp.com/snippets/featured/circle-button*/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
    }


/*http://bootsnipp.com/snippets/featured/comments-list*/
.conversation-wrap {
    box-shadow: -2px 0 3px #ddd;
    padding: 0;
    max-height: 400px;
    overflow: auto;
}

.conversation {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.message-wrap {
    box-shadow: 0 0 3px #ddd;
    padding: 0;
}

.msg {
    padding: 5px;
    /*border-bottom:1px solid #ddd;*/
    margin: 0;
}

.msg-wrap {
    padding: 10px;
    max-height: 400px;
    overflow: auto;
}

.time {
    color: #bfbfbf;
}

.send-wrap {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
    /*background: #f8f8f8;*/
}

.send-message {
    resize: none;
}

.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.send-message-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-panel {
    background: #f7f7f9;
}

    .btn-panel .btn {
        color: #b8b8b8;
        transition: 0.2s all ease-in-out;
    }

        .btn-panel .btn:hover {
            color: #666;
            background: #f8f8f8;
        }

        .btn-panel .btn:active {
            background: #f8f8f8;
            box-shadow: 0 0 1px #ddd;
        }

.btn-panel-conversation .btn, .btn-panel-msg .btn {
    background: #f8f8f8;
}

    .btn-panel-conversation .btn:first-child {
        border-right: 1px solid #ddd;
    }

.msg-wrap .media-heading {
    color: #003bb3;
    font-weight: 700;
}


.msg-date {
    background: none;
    text-align: center;
    color: #aaa;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}


body::-webkit-scrollbar {
    width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    background: #ddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd;
    }

.ran-nav-list {
    background-color: #18bc9c;
}


/*start:jquery ui custom*/
   .ui-autocomplete-loading {
        background: white url("/Content/img/ui-anim_basic_16x16.gif") right center no-repeat;
    }

    /* highlight results */
    .ui-autocomplete span.hl_results {
        background-color: #ffff66;
    }

    /* scroll results */
    .ui-autocomplete {
        max-height: 250px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding for vertical scrollbar */
        padding-right: 5px;
    }

    .ui-autocomplete li {
            font-size: 16px;
        }

    /* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
    * html .ui-autocomplete {
        height: 250px;
    }

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        _width: 160px;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
    }

    .ui-state-hover, &.ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }
/*end:jquery ui custom*/